:root {
  /* Color Palette */

  /* Primary Colors */
  --color-primary-50: #ebebff;
  --color-primary-100: #cbcdff;
  --color-primary-300: #7f8cff;
  --color-primary-400: #6070ff;
  --color-primary-500: #396df2;

  /* Neutral Colors */
  --color-neutral-10: #f7f7f9;
  --color-neutral-40: #dfe1e6;
  --color-neutral-50: #c1c7d0;
  --color-neutral-100: #7a869a;
  --color-neutral-400: #505f79;
  --color-neutral-600: #344563;
  --color-neutral-700: #253858;
  --color-neutral-800: #172b4d;

  /* Other Variables of Colors */
  --white: #fff;
  --grey-light-1: #e5e5e5;
  --grey-dark-1: #5e6c84;
  --blue-dark-1: #2230d2;
  --color-primary: var(--color-primary-400);
  --color-primary-dark: var(--color-primary-500);

  /* Backgroud */
  --page-bg: var(--grey-light-1);

  /* Title */
  --title-primary: var(--color-neutral-800);

  /* Text */
  --text-primary: var(--color-neutral-600);
  --text-primary-dark: var(--color-neutral-800);

  /* Header */
  --header-height: 4.8rem;

  /* Input */
  --color-input-border: #cfd8dc;
  --color-input-placeholder: #b3bac5;

  /* Contact Section */
  --contact-section-offset: 13.8rem;
}

/* Resetting */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting the value of 1rem */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  /* Set back the default font size to 16px */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--text-primary);
  background-color: var(--page-bg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

svg {
  color: inherit;
  fill: currentColor;
}

textarea {
  resize: none;
}

