/* OVERALL LAYOUT */

/* MAIN CONTAINER */

.container {
  display: flex;
  flex-direction: column;
}

/* HEADLINE SECTION */

.headline {
  flex: 0 0 calc(100vh - var(--header-height));
  max-height: 670px;
  background: url('../img/shapes.png') no-repeat 0 0/100% auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 2.4rem;
}

/* WORKS SECTION */

.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8.8rem;
  background-color: var(--grey-light-1);
  padding: 11.4rem 2.4rem;
}

/* ABOUT ME SECTION */

.about-me {
  display: flex;
  flex-direction: column;
  padding: 11.4rem 2.4rem;
}
