/* MARGIN BOTTOM */

.u-mb--sm {
  margin-bottom: 0.8rem;
}

.u-mb--md {
  margin-bottom: 1.2rem;
}

.u-mb--lg {
  margin-bottom: 2rem;
}

.u-mb--xlg {
  margin-bottom: 2.4rem;
}

.u-mb--hg {
  margin-bottom: 4.8rem;
}

/* MARGIN TOP */

.u-mt--sm {
  margin-top: 0.8rem;
}

.u-mt--md {
  margin-top: 1.2rem;
}

.u-mt--lg {
  margin-top: 2rem;
}

.u-mt--xlg {
  margin-top: 2.4rem;
}

.u-mt--hg {
  margin-top: 4.8rem;
}

/* MARGIN LEFT */

.u-ml--sm {
  margin-left: 0.8rem;
}

.u-ml--md {
  margin-left: 1.2rem;
}

.u-ml--lg {
  margin-left: 2rem;
}

.u-ml--xlg {
  margin-left: 2.4rem;
}

.u-ml--hg {
  margin-left: 4.8rem;
}

/* MARGIN RIGHT */

.u-mr--sm {
  margin-right: 0.8rem;
}

.u-mr--md {
  margin-right: 1.2rem;
}

.u-mr--lg {
  margin-right: 2rem;
}

.u-mr--xlg {
  margin-right: 2.4rem;
}

.u-mr--hg {
  margin-right: 4.8rem;
}
