/* HEADLINE SECTION */

.p-headline {
  flex: 0 0 calc(100vh - var(--header-height-mobile));
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 55rem;
  background: url('../img/mobile/headline-bg.svg') no-repeat 0 10vh/100% auto;
  background-color: var(--white);
  border-bottom-left-radius: 10rem;
  padding: 0 2.4rem;

  // screen-sm = 31.25em = 500px
  @include respond-to('min', 'screen-sm') {
    padding: 0 18vw;
  }

  // screen-md = 50em = 800px
  @include respond-to('min', 'screen-md') {
    background: url('../img/desktop/headline-bg-pc.svg') no-repeat top 5.57vh
      right 0;
    background-color: var(--white);
    margin-top: var(--header-height-desktop);
  }

  // screen-xhg = 93.75em = 1500px
  @include respond-to('min', 'screen-xhg') {
    background: url('../img/desktop/headline-bg-pc.svg') no-repeat 0 5.57vh/100%
      auto;
    background-color: var(--white);
  }

  &__content {
    max-width: 52.1vw;
    max-width: 75rem;
  }
}
