/* SIMPLE CARD GRID */

.o-simple-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.2rem;
}

/* 50em = 800px */
@media only screen and (min-width: 50em) {
  .o-simple-card-grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--simple-card-constrained-width), min-content)
    );
  }
}
