// MARGIN BOTTOM

.u-mb {
  &--sm {
    margin-bottom: 0.8rem;
  }

  &--md {
    margin-bottom: 1.2rem;
  }

  &--lg {
    margin-bottom: 2rem;
  }

  &--xlg {
    margin-bottom: 2.4rem;
  }

  &--hg {
    margin-bottom: 4.8rem;
  }
}

// MARGIN TOP

.u-mt {
  &--sm {
    margin-top: 0.8rem;
  }

  &--md {
    margin-top: 1.2rem;
  }

  &--lg {
    margin-top: 2rem;
  }

  &--xlg {
    margin-top: 2.4rem;
  }

  &--hg {
    margin-top: 4.8rem;
  }
}

// MARGIN LEFT

.u-ml {
  &--sm {
    margin-left: 0.8rem;
  }

  &--md {
    margin-left: 1.2rem;
  }

  &--lg {
    margin-left: 2rem;
  }

  &--xlg {
    margin-left: 2.4rem;
  }

  &--hg {
    margin-left: 4.8rem;
  }
}

// MARGIN RIGHT

.u-mr {
  &--sm {
    margin-right: 0.8rem;
  }

  &--md {
    margin-right: 1.2rem;
  }

  &--lg {
    margin-right: 2rem;
  }

  &--xlg {
    margin-right: 2.4rem;
  }

  &--hg {
    margin-right: 4.8rem;
  }
}
