/* Resetting */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Setting the value of 1rem */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

/* 20em = 320px */
@media only screen and (max-width: 20em) {
  html {
    font-size: 52.25%;
  }
}

/* 15.625em = 250px */
@media only screen and (max-width: 15.625em) {
  html {
    font-size: 50%;
  }
}

body {
  /* Set back the default font size to 16px */
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: var(--text-primary);
  background-color: var(--page-bg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

svg {
  color: inherit;
  fill: currentColor;
}

textarea {
  resize: none;
}
