
/* ICON */

.icon--sm {
  width: 2rem;
  height: 2rem;
}

.icon--md {
  width: 2.4rem;
  height: 2.4rem;
}

/* TITLE */

.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: var(--title-primary);
}

/* TEXT */

.text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--text-primary);
}

/* HEADING */

.heading--md {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}

.heading--primary {
  color: var(--color-primary-300);
}
