/* ICON BUTTON */

.icon-btn {
  border: none;
  border-radius: 0;
  transition: opacity 0.2s;
}

.icon-btn:hover {
  opacity: 0.9;
}

/* SIMPLE LIST */

.simple-list {
  display: flex;
  align-items: center;
}

.simple-list > *:not(:last-child) {
  margin-right: 2rem;
}

.simple-list--sm > *:not(:last-child) {
  margin-right: 0.8rem;
}

/* SOCIAL */

.social {
  display: flex;
  flex-direction: column;
}

.social > *:first-child {
  margin-bottom: 1.2rem;
}

/* LIST SEPARATED BY BULLET POINTS */

.bull-list {
  display: flex;
  align-items: center;
}

.bull-list > li {
  display: flex;
  align-items: center;
}

.bull-list > li:not(:last-child) {
  position: relative;
  margin-right: 3.2rem;
}

.bull-list > li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: calc(50% - 0.4rem);
  left: 100%;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  background-color: var(--color-neutral-50);
  margin-left: 1.2rem;
}
