/* ////////////////////////////// */
/* HEADER */
/* ///////////////////////////// */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);
  background-color: var(--page-bg);
}

.header__logo {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--color-primary);
}
