/* STANDARD BUTTON */

.a-btn {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: 0.03em;
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary);
  border-radius: 0.8rem;
  padding: 1.2rem;
  transition: all 0.2s;
}

.a-btn:hover {
  background-color: var(--color-primary);
  box-shadow: 0 0.8rem 1.6rem rgba(64, 83, 252, 0.24);
  color: var(--white);
}

.a-btn--active,
.a-btn:active {
  background-color: var(--blue-dark-1);
  color: var(--white);
}

.a-btn--disabled,
.a-btn:disabled {
  border-color: 1px solid var(--color-neutral-50);
  color: var(--grey-dark-1);
}

.a-btn--md {
  padding: 1.2rem 1.6rem;
}

.a-btn--light {
  background-color: var(--white);
  color: var(--color-primary);
}

.a-btn--light:hover {
  background-color: var(--color-primary-dark);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.5);
}

.a-btn--light:active {
  background-color: var(--blue-dark-1);
  color: var(--white);
}
