/* TITLE */

.a-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  color: var(--title-primary);
}

.a-title--sm {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.4rem;
}

.a-title--light {
  color: var(--white);
}
