/* FORM */

.m-form {
  display: flex;
  flex-direction: column;
}

.m-form__input-group > *:not(:last-child) {
  margin-bottom: 2rem;
}

.m-form__btn-group {
  display: flex;
  align-items: center;
  margin-top: 2.2rem;
}
