/* SIMPLE CARD */

.m-simple-card {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-10);
  border-radius: 0.8rem;
  padding: 0.9rem 1.2rem;
  transition: box-shadow 0.2s;
}

.m-simple-card > *:first-child {
  margin-right: 1.6rem;
}

.m-simple-card__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  color: var(--color-neutral-700);
}

.m-simple-card:hover {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
/* 50em = 800px */
@media only screen and (min-width: 50em) {
  .m-simple-card {
    flex-direction: column;
    align-items: flex-start;
    width: var(--simple-card-constrained-width);
    padding: 1.2rem 1.2rem 2rem 1.2rem;
  }

  .m-simple-card > *:first-child {
    margin: 0 0 1.6rem;
  }

  .m-simple-card__title {
    line-height: 2.4rem;
  }
}
