/* DATA INPUT */

.a-data-input {
  width: 100%;
  height: 4.8rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--text-primary-dark);
  background-color: var(--white);
  border: 1px solid var(--color-input-border);
  border-radius: 0.8rem;
  padding: 1.5rem 3.8rem 1.5rem 1.6rem;

  &::-webkit-input-placeholder,
  &::placeholder {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--color-input-placeholder);
  }

  &:focus {
    outline-color: var(--color-primary-300);
  }

  &--textarea {
    height: 17rem;
    line-height: 2rem;
  }

  &--is-error {
    border: 2px solid var(--color-error);
    box-shadow: inset 0 1px 2px var(--color-error);

    &:focus {
      box-shadow: none;
    }
  }

  &--is-success {
    border: 2px solid var(--color-success);
    box-shadow: inset 0 1px 2px var(--color-success);

    &:focus {
      box-shadow: none;
    }
  }
}
