/* TEXT */

.a-text {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--text-primary);

  &--sm {
    font-size: 1.5rem;

    // screen-xlg = 68.75em = 1100px
    @include respond-to('min', 'screen-xlg') {
      font-size: 1.6rem;
    }
  }

  &--lg {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  &--light {
    color: var(--white);
  }

  &--center {
    text-align: center;
  }
}
